<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lost&Logged</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Appdev_Group_8.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-transparent">
            <div class="container">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand" style="font-size: 1.75rem; font-weight: 600; color: #37474f; text-decoration: none;">Lost&Logged</a>
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="Dashboard" class="text-decoration-none me-3 text-secondary">Dashboard</a>
                    <a asp-area="" asp-controller="Items" asp-action="ReportLostItem" class="text-decoration-none me-3 text-secondary">Report Item</a>
                    <a asp-area="" asp-controller="Items" asp-action="ViewFoundItems" class="text-decoration-none me-3 text-secondary">View Found Items</a>
                    <a asp-area="" asp-controller="Items" asp-action="MyReports" class="text-decoration-none text-secondary">My Reports</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Appdev_Group_8 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
